
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//*


*{
    border:1px solid red;
} 

.main {
  width: 100%; //100vw 100%
  height: 100%; //100vh
  display: flex;
  //margin-top: 20px;
  flex-direction: column; //coluna que manda no eixo Y sendo o justify-content
  //ALINHAMENTO EIXO Y
  //justify-content: end; //no fim da coluna EIXO Y
  //justify-content: start; //no fim da coluna EIXO Y
  justify-content: center; //centro da coluna
  
  //ALINHAMENTO NO EIXO X sendo flex-direction column
  //align-items: flex-end; //no final do eixo X
  //align-items: flex-start; //no inicio do eixo X
  align-items: flex-start; //ao centro no eixo 

}

@media (max-width: 700px) {

    .container {
        height: 340px;
        width: 88%; //auto 88% ok
        display: flex;
        flex-direction: column;
        align-items: center;
        //margin: auto;
        border: 2px solid black;
        align-items: center;
    }

    .itemList {
        width: 95%;
        height: 100px;
        margin: 5px 40px 5px 5px;//5px 10px
        border: 2px solid purple; 
        display: flex; 
        flex-direction:column;
        
        //justify-items: flex-start; // ALINHAR no eixo Y
        justify-content: center; //alinha conteudo ao centro no EiXO Y
        //justify-content: end; //alinha conteudo ao final no eixo Y

        align-items: flex-start; // ALINHA no eixo X
        
        justify-content: space-around; //espaço entre os elemento no eixo Y
        
        .item {
            margin-left: 10px;
        }
    }

    .container-buttons {
      display: flex;
      flex-direction: row;
      margin-left: 10px;
      
      button:first-of-type {
          margin-right: 20px ;
      }
    }
  
}