<router-outlet></router-outlet>
<div class="main">
  <cdk-virtual-scroll-viewport itemSize="100" class="container">
    <div *cdkVirtualFor="let item of listNumber">
      <div class="itemList ">
        <div class="item">{{item}}</div>
        <input class="item" #itemNew type="text" value="{{item}}">
        <div class="container-buttons">
          <button (click)="actionButton('btn1',item)">APROVAR</button>
          <button (click)="actionButton('btn2',itemNew)">REPROVAR</button>
        </div>
      </div>  <!-- animated slideInRight -->
    </div>
  </cdk-virtual-scroll-viewport> 
</div> 